*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* ---------------------------- Styles pour smartphones -------------------------------------- */

@media screen and (max-width: 500px)
{
    .conteneur
    {
        margin: 10px;
    }
    .menu-principal
    {
        background-color: rgb(0, 60, 255);
        padding: 1em;
        display: flex;
        justify-content: space-between;

        button 
        {
            background-color: blue;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        .icons-menu
        {
            vertical-align: middle;
        }
        .page-active
        {
            background-color: rgb(0, 132, 255);
        }
    }

    header
    {
        text-align: center;

        button
        {
            text-transform: uppercase;
            padding: 0.5em;
            width: 100%;
            margin: 3px;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }
        .bouton-don
        {
            font-size:x-large;
            background-color: #EF2B3F;
        }
        .bouton-benevole
        {
            font-size: large;
            background-color: #1A4687;
        }
    }
    
}

/* -------------------------------- Styles pour grands écrans --------------------------------- */

@media screen and (min-width: 1024px)
{
    body 
    {
        background-color: blue;
    }
}
